:root {
  --teal-color: #10a19b;
  --pink-color: #fc5da7;
  --white-color: #ffffff;
  --light-teal-color: #90d4d0;
  --light-pink-color: #ffd8e9;
  --light-gray-color: #e4e5eb;  
  --pointFive-em: 0.5em;
}

* {
  box-sizing: border-box;
}

body, a{
	color: var(--teal-color);
}

h1, h2, h3, h4, h5, h6{
	color: var(--pink-color);
}

body{
	font-family: 'Raleway', serif;
}

a{
	text-decoration: none;
	font-weight: bold;
}

a:visited{
	font-style: italic;
}

a:hover, a:focus{
	color: var(--pink-color);
}

a:active{
	font-weight: normal;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
}

img{
	width: 100%;
}

#main-container{
	flex: 1;
	
}

.nav-bar{
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
}

.flex-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.justify-content-changeable-header{
	justify-content: space-between;
}

.justify-content-center{
	justify-content: center;
}

.flex-child{
	flex: 1;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.text-position-changeable-nav{
	text-align: right;
}

.logo-container{
	width: 17%;
}

.feature-container{
	min-height: 100vh;
}

.feature-container:nth-child(odd){
	background-color: #ecfefa;
}

.feature-container:nth-child(even){
	background-color: #ffdbe9; /* #ffddda;  #fff8f9;*/
}

.profile-portrait{
	width: 47%;
	border-radius: 50%;
	margin-top: 2em;
}

.feature-content-container{
	width: 80%;
	padding-top: 0.5em;
	margin-right: auto;
	margin-left: auto;
}

.text-content{
	text-align: center;
	line-height: 1.25;
}

.page-footer{
	text-align: center;
    padding-top: 1em;
}

.page-footer p, .page-footer div{
	display: inline-block;	
	vertical-align: middle;
}

.project-card{
	flex: 0 0 33.33%;
	margin-bottom: 1em;
}

.project-card img{
	border-radius: 0.5em 0.5em 0 0;
}

.project-card-text-container{
	background-color: var(--white-color);
	border-radius: 0 0 0.5em 0.5em;
	padding: 0.5em;
	line-height: 1.5;
	min-height: 180px;
}

.project-card-title{
	margin-top: 0;
}

.contact-form{
	width: 33.33%;
	margin: 1em auto 0;
}

.contact-form input, .contact-form textarea{
	display: block;
	width: 100%;
	border: 1px solid #fcb6d7;
	border-radius: 0.5em;
	margin-top: 0.5em;
	padding: 0.25em;
	color: var(--white-color);
	background-color: #fcb6d7;
}

.contact-form textarea{
	resize: none;
	height: 120px;
	overflow: auto;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
	color: var(--white-color);
	opacity: 1
}

.contact-form input{
	height: 2.25em;
}

.contact-form button[type="submit"]{
	border: 1px solid var(--light-pink-color);
	border-radius: 0.5em;
	width: 100%;
	height: 30px;
	margin-top: 0.5em;
	color: var(--pink-color);
	background-color: var(--white-color);
}

.contact-form button[type="submit"]:hover, .contact-form button[type="submit"]:focus{
	color: var(--teal-color);
	border-color: var(--teal-color);
}

.social-media img{
	width: auto;
	margin: 0 0.25em;
}