:root {
  --teal-color: #10a19b;
  --pink-color: #fc5da7;
  --white-color: #ffffff;
  --light-teal-color: #90d4d0;
  --light-pink-color: #ffd8e9;
  --light-gray-color: #e4e5eb;  
  --pointFive-em: 0.5em;
}

* {
  box-sizing: border-box;
}

body, a{
	color: var(--teal-color);
}

h1, h2, h3, h4, h5, h6{
	color: var(--pink-color);
}

body{
	font-family: 'Raleway', serif;
	line-height: 1.5;
}

a{
	text-decoration: none;
	font-weight: bold;
}

a:visited{
	font-style: italic;
}

a:hover, a:focus{
	color: var(--pink-color);
}

a:active{
	font-weight: normal;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
}

img{
	width: 100%;
}

/* --------------- GLOBAL CLASSES START --------------- */

.flex-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-child{
	flex: 1;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.justify-content-center{
	justify-content: center;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.teal-text{
	color: var(--teal-color);
}

/* --------------- GLOBAL CLASSES END --------------- */
/* --------------- NAVIGATION CLASSES START --------------- */

#main-container{
	flex: 1;
}

.nav-bar{
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
}

.justify-content-changeable-header{
	justify-content: space-between;
}

.text-position-changeable-nav{
	text-align: right;
}

.text-position-changeable-nav-logo{
	text-align: left;
}

.logo-container{
	width: 17%;
}

/* --------------- NAVIGATION CLASSES END --------------- */
/* --------------- CONTENT CLASSES START --------------- */
.feature-container{
	min-height: 100vh;
}

.feature-container:nth-child(even){
	background-color: #ecfefa;
}

.feature-container:nth-child(odd){
	background-color: #ffdbe9; /* #ffddda;  #fff8f9;*/
}

.feature-content-container{
	width: 80%;
	padding-top: 0.5em;
	margin-right: auto;
	margin-left: auto;
}

/* ----------- Profile Classes ----------- */

.profile-portrait{
	width: 47%;
	border-radius: 50%;
	margin-top: 2em;
}

/* ----------- Project Classes ----------- */

.project-card{
	flex: 0 0 33.33%;
	margin-bottom: 1em;
}

.project-card img{
	border-radius: 0.5em 0.5em 0 0;
}

.project-card-text-container{
	background-color: var(--white-color);
	border-radius: 0 0 0.5em 0.5em;
	padding: 0.5em;
	line-height: 1.5;
	min-height: 200px;
}

.project-card-title{
	margin-top: 0;
}

/* ----------- Achievements Classes ----------- */

.success-list{
	width: 50%;
	margin: 0 auto;
}

/* ----------- Contact Classes ----------- */

.contact-form{
	width: 33.33%;
	margin: 1em auto 0;
}

.contact-form input, .contact-form textarea{
	display: block;
	width: 100%;
	border: 1px solid #fcb6d7;
	border-radius: 0.5em;
	margin-top: 0.5em;
	padding: 0.25em;
	color: var(--white-color);
	background-color: #fcb6d7;
}

.contact-form input{
	height: 2.25em;
}

.contact-form textarea{
	resize: none;
	height: 120px;
	overflow: auto;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
	color: var(--white-color);
	opacity: 1
}

.contact-form button[type="submit"]{
	border: 1px solid var(--light-pink-color);
	border-radius: 0.5em;
	width: 100%;
	height: 30px;
	margin-top: 0.5em;
	color: var(--pink-color);
	background-color: var(--white-color);
}

.contact-form button[type="submit"]:hover, .contact-form button[type="submit"]:focus{
	color: var(--teal-color);
	border-color: var(--teal-color);
}

/* ----------- Footer Classes ----------- */
.page-footer{
	text-align: center;
    padding-top: 1em;
}

.page-footer p, .page-footer div{
	display: inline;
}

.social-media a{
	display: inline-block;
	width: 40px;
	margin: 0 0.25em;
}

/* --------------- CONTENT CLASSES END --------------- */
/* --------------- MODAL CLASSES START --------------- */

.modal-project p{
	line-height: 1.5;
}

.normal-link a{
	font-weight: normal;
}

/* --------------- MODAL CLASSES END --------------- */
/* --------------- CSS ANIMATION START --------------- */

.word {
	font-family: 'Anton', sans-serif;
	perspective: 1000px; 
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
	user-select: none;
	line-height: .8;
}
  
.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}
  
  @keyframes balance {
	0%, 100% {
	  transform: rotate(0deg);
	}
	
	30%, 60% {
	  transform: rotate(-45deg);
	}
  }
  
.word span:nth-child(2).active,
.word span:nth-child(6).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}
  
  @keyframes shrinkjump {
	10%, 35% {
	  transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
	  transform: scale(1) translate(0, -150px);
	}
	
	80% {
	  transform: scale(1) translate(0, 0);
	}
  }
  
.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}
  
  @keyframes falling {
	12% {
	  transform: rotateX(240deg);
	}
	
	24% {
	  transform: rotateX(150deg);
	}
	
	36% {
	  transform: rotateX(200deg);
	}
	
	48% {
	  transform: rotateX(175deg);
	}
	
	60%, 85% {
	  transform: rotateX(180deg);
	}
	
	100% {
	  transform: rotateX(0deg);
	}
  }
  
.word span:nth-child(4).active,
.word span:nth-child(7).active {
	animation: rotate 1s ease-out;
}
  
  @keyframes rotate {
	20%, 80% {
	  transform: rotateY(180deg);
	}
	
	100% {
	  transform: rotateY(360deg);
	}
  }
  
.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}
  
  @keyframes toplong {
	10%, 40% {
	  transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
	  transform: translateY(-48vh) scaleY(4);
	}
  }

#banner .flex-container {
	min-height: 70vh;
}

#banner img{
	border-radius: 50%;
}

.banner-img-container {
	width: 20%;
	animation: growImage 1.5s ease-out;
	opacity: 0.5;
	transition: opacity 2s ease-out 100ms
}

.banner-img-container:hover{
	opacity: 1;
}

  @keyframes growImage {
	from {
	  transform: scale(0);
	}
	to {
	  transform: scale(1);
	}
  }



/* --------------- CSS ANIMATION END --------------- */